<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="processes" value="WPoints,RPoints"/>
    <!-- point source info -->
    <add key="pts" value="1001-1127,2001-2029,3001-3105,5001-5009,6001-6009"/>
    <add key="pts_count" value="5"/>
  </appSettings>
</configuration>